.card {
  width: 300px;
  font-size: 20px;
  background-color: #f3f3f3 !important;
}

.title {
  margin-bottom: 20px;
  min-height: 45px;
  font-size: 1.5em;
  font-weight: 700;
}

.heading {
  font-weight: 700;
  margin-bottom: 5px;
}