.header {
  position: relative;
  margin: 0 auto;
  background-color: #f7f7f7;
}

.loader {
  position: absolute;
  bottom: 45%;
  width: 100%;
}

.main {
  margin: 0 auto 20px;
  max-width: 1600px;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .loader {
    bottom: 0;
  }
}