.movieList {
  margin: 20px auto 0;
  max-width: 1200px;
}

.wrapper {
  display: grid;
  grid-template-areas: "a";
  grid-gap: 10px;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  border-bottom: 1px solid;
  width: 90%;
  min-height: 300px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    grid-template-areas: "a a";
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    grid-template-areas: "a a a a";
  }
}

